body {
  height: 100%;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #ededed;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 12px;
  line-height: 20px;
}
h1 {
  margin: 10px 0px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin: 10px 0px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin: 10px 0px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
}
.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}
.screentitle {
  margin-top: 0px;
  margin-bottom: 34px;
  font-family:'Open Sans', sans-serif;
  color: #a3a3a3;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
}
.screentitle, a:link {
  text-decoration:none;
  color: #a3a3a3;
}
.screentitle, a:active {
  text-decoration:none;
  color: #a3a3a3;
}
.placeimage {
  display: block;
  max-width: 100px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
}
.trailimage {
  display: block;
  width: 5px;
  height: 96px;
  margin-right: auto;
  margin-left: auto;
  border-style: dotted;
  border-width: 0px;
  border-color: black #dbdbdb black black;
  background-image: url(../images/vertical_line.png);
  background-size: 5px;
  background-repeat: no-repeat repeat;
}
.container {
  display: block;
  height: 100%;
  max-width: 726px;
  margin-right: auto;
  margin-left: auto;
}
.containerrow {
  height: 100%;
}
.personcolumn {
  padding-top: 16px;
}
.personicon {
  position: static;
  display: block;
  max-width: 100px;
  margin-right: auto;
  margin-left: auto;
  padding: 5px;
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.personicon:hover {
  opacity: 0.83;
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.personicon:active {
  border: 0px solid black;
  opacity: 0.66;
  -webkit-transform: scale(1.24);
  -ms-transform: scale(1.24);
  -o-transform: scale(1.24);
  transform: scale(1.24);
}
.popover {
  padding: 10px;
  background-color: white;
}
.popovertitle {
  font-family:'Open Sans', sans-serif;
  color: #969696;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
}
.popoverlink {
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-family:'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  text-decoration: none;
}
.placetitle {
  font-family:'Open Sans', sans-serif;
  color: #9c9c9c;
  text-align: center;
}
@media (max-width: 991px) {
  .trailimage {
    background-image: url(../images/vertical_line.png);
  }
}
@media (max-width: 767px) {
  body {
    padding-top: 10px;
  }
  .placeimage {
    display: block;
    max-width: 65px;
    margin-right: auto;
    margin-left: auto;
  }
  .trailimage {
    background-image: url(../images/vertical_line.png);
  }
  .personicon {
    max-width: 64px;
  }
}
@media (max-width: 479px) {
  .screentitle {
    margin-bottom: 14px;
  }
  .trailimage {
    height: 79px;
    background-image: url(../images/vertical_line.png);
  }
  .personcolumn {
    padding-top: 23px;
    padding-right: 0px;
  }
  .personicon {
    max-width: 50px;
    padding: 0px;
  }
  .placescolumn {
    padding-right: 5px;
    padding-left: 5px;
  }
  .peoplecolumn {
    padding-right: 0px;
    padding-left: 0px;
  }
}